<!---
@author  CSC 648 Team 11
@version 1.0.0 03/30/2018
--->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{ user.firstName }} {{ user.lastName }}</h1>
  <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <h2 class="text-center">{{ user.title }}</h2>
      <p class="lead">{{ user.hobbies }}</p>
    </div>
  </div>

</div>
